.well-height {
    height: 340px;
    margin: 20px;
}

.dashboard-page .sidebar {
    background-color: #f26522;
    height: 100%;
    border-color: #f26522;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.dashboard-page .nav>li>a:hover, .dashboard-page .nav>li>a:focus {
    background: #ecf0f1;
    color: #f26522;
}
.img-center {
    display: block;
    margin: 0 auto;
    height: 200px !important;
}

.img-center-calendrier {
    display: block;
    margin: 0 auto;
}

.img-hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.img-hover:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

#loading-bar .bar {
    position: relative;
}

@media screen and (max-width: 670px){

    .resize{
        display: none;
    }

    nav li {
        float:none;
        border: 0 !important;
        width:12%;
        height: 100%;
        text-align: center;
        display: inline;
    }


    .nav-inner {
        position: absolute;
        transform: translateX(-400%) translateZ(0);
        transition: transform .2s;
        will-change: transform;
    }
    /* here's goes the slide effect */
    input:checked ~ .nav-inner {
        transform: translateX(0);
        z-index: 10000;
    }

    input:checked ~ .col-xs-offset-3 {
        margin-left: 25%;
    }

    input:checked ~ .col-xs-9 {
        width: 75%;
    }

    input:checked ~ .nav-button {
        left: 65%;
    }

    .col-xs-offset-3 {
        margin-left: 0;
    }

    .col-xs-9 {
        width: 100%;
    }
    /* Button deco */
    .nav-button {
        position: absolute;
        z-index: 99999;
        display: inline-block !important;
        height: 60px !important;
        padding: 18px 14px !important;
        outline: 0;
        border: 0;
        cursor: pointer;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }

    nav ul li a {
        height: 30px !important;
    }
    nav{
        width: 1% !important;
    }

    .country2{
        width: 33% !important;
    }
    .age2{
        width: 33% !important;
    }
    .age{
        width: 33%;
    }
    .country{
        width: 33% !important;
    }
}

#loading-bar-container {
    top: 0;
    position: absolute;
    width: 100%;
}

.fixed-header .app-header {
        width: auto !important;
    z-index: 58;
}
/*
.bg-light {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}
@media only screen and (min-width: 992px) {
    .app-header {
        text-align: inherit !important;
    }
}

.cm-button-menu {
    height: 50px;
    width: 60px;
    margin: 0;
}

.cm-menu-bar {
    padding: 0;
}
*/
.dashboard-page .main {
    padding: 70px;
}

