<section id="section-auth">
  <div class="inner">

    <div ng-controller="AuthenticationController">
      <s-alert></s-alert>
      <md-content>
        <div>
          <form name="registerForm">

            <div flex-xs flex-gt-xs="50" layout="column">
              <md-card>
                <md-card-title>
                  <span class="md-headline">Se connecter</span>
                </md-card-title>

                <md-card-content style="height: 262px;">
                  <md-input-container class="md-block">
                    <label>Username</label>
                    <input ng-required="required" type="text" ng-model="login.username" />
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-required="required" type="password" ng-model="login.password" />
                  </md-input-container>
                </md-card-content>

                <md-card-actions layout="row" layout-align="center">
                  <md-button type="submit" class="md-raised md-primary" ng-click="login()">Se connecter</md-button>
                </md-card-actions>
              </md-card>
            </div><!--

          --><div flex-xs flex-gt-xs="50" layout="column">
              <md-card>
                <md-card-title>
                  <span class="md-headline">S'enregistrer</span>
                </md-card-title>

                <md-card-content>
                  <md-input-container class="md-block">
                    <label>Username</label>
                    <input ng-required="required" type="text" ng-model="register.username" />
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-required="required" type="password" ng-model="register.password" />
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-required="required" type="email" ng-model="register.email" />
                  </md-input-container>
                </md-card-content>

                <md-card-actions layout="row" layout-align="center">
                  <md-button type="submit" class="md-raised md-primary" ng-click="register()">S'enregistrer</md-button>
                </md-card-actions>
              </md-card>
            </div>



          </form>
        </div>
      </md-content>

    </div>

  </div>
</section>
