<section id="section-collection" ng-controller="calendarController">
    <div class="innver">
    <div class="row">
        <div class="col-lg-12 col-md-12 well" ng-repeat="(day, animes) in days">
            <div class="row">
                <ul>
                    <li class="col-lg-12 col-md-12" style="text-align: center;">
                        <h1 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">
                            {{ animes[0].nb_days == 0 ? "Aujourd'hui" : animes[0].nb_days == 1 ? 'Demain' : 'Dans '+animes[0].nb_days+' jours' }} - {{day}}
                        </h1>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="anime in animes">
                        <div ng-if="anime.img_affiche" style="padding-top: 20px;padding-bottom: 20px;">
                            <img class="img-thumbnail img-hover img-center" ng-src="client/medias/animes/{{ anime.img_affiche }}">
                        </div>
                        <p style="text-align: center;">
                            <a href="#/anime/{{ anime.id_anime }}">{{ anime.anime_title }}</a>
                        </p>
                        <p style="text-align: center; margin-top: 10px;">Épisode {{ anime.number }}{{ anime.title ? ' - '+anime.title : '' }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
