<section id="section-collection" ng-controller="CollectionController">
  <div class="inner">
    <div class="row">
      <h1>Animes</h1>

      <ul>
        <li ng-if="listAnimes.length == 0">Aucun anime trouvé.</li>
        <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="anime in listAnimes">
          <div ng-if="anime.img_affiche" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail img-hover img-center" ng-src="client/medias/animes/{{ anime.img_affiche }}">
          </div>
          <ul>
            <li style="text-align: center;"><a href="#/anime/{{ anime.id_anime }}">{{ anime.title }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <br/>

    <div class="row">
      <h1>Mangas</h1>

      <ul>
        <li ng-if="listMangas.length == 0">Aucun manga trouvé.</li>
        <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="manga in listMangas">
          <div ng-if="manga.img_tome_fr" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail img-hover img-center" ng-src="client/medias/tomes/{{ manga.img_tome_fr }}">
          </div>
          <div ng-if="!manga.img_tome_fr && manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail img-hover img-center"  ng-src="client/medias/tomes/{{ manga.img_tome_jp }}">
          </div>
          <div ng-if="!manga.img_tome_fr && !manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
            <img ng-src="client/medias/default/thumbnail.png" class="img-thumbnail img-hover" style="height: 200px !important;">
          </div>
          <ul>
            <li style="text-align: center;"><a href="#/manga/{{ manga.id_manga }}">{{ manga.title }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
