<section id="section-collection" ng-controller="CollectionController">
  <div class="inner">
    <div class="row">
      <h1>Animes</h1>

      <ul>
        <li ng-if="listAnimes.length == 0">Aucun anime trouvé.</li>
        <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="anime in listAnimes">
          <div ng-if="anime.img_affiche" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/animes/{{ anime.img_affiche }}">
          </div>
          <ul>
            <li style="text-align: center;"><a href="#/anime/{{ anime.id_anime }}">{{ anime.title }}</a></li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ anime.progression }}"
                   aria-valuemin="0" aria-valuemax="100" style="width:{{ anime.progression }}%; background-color: #f26522;">
                <span style="color: #000000;">{{ anime.episodes_progression }}/{{ anime.nb_episodes }}</span>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </div>
    <br/>

    <div class="row">
      <h1>Mangas</h1>

      <ul>
        <li ng-if="listMangas.length == 0">Aucun manga trouvé.</li>
        <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="manga in listMangas">
          <div ng-if="manga.img_tome_fr" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_fr }}" height="200px">
          </div>
          <div ng-if="!manga.img_tome_fr && manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
            <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_jp }}" height="200px">
          </div>
          <div ng-if="!manga.img_tome_fr && !manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
            <img ng-src="client/medias/default/thumbnail.png" class="img-thumbnail" style="height: 200px !important;">
          </div>
          <ul>
            <li style="text-align: center;"><a href="#/manga/{{ manga.id_manga }}">{{ manga.title }}</a></li>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ manga.progression }}"
                   aria-valuemin="0" aria-valuemax="100" style="width:{{ manga.progression }}%; background-color: #f26522;">
                <span style="color: #000000;">{{ manga.tomes_progression }}/{{ manga.nb_tomes }}</span>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
