<section id="section-manga" ng-controller="MangaController">
  <s-alert></s-alert>
  <div class="">

    <div flex-gt-xs layout="column">
      <div flex-xs flex-gt-xs layout="row">
          <div flex="29" ng-if="manga.img_tome_fr">
            <img style="height: 400px;" class="img-thumbnail" ng-src="client/medias/tomes/{{ manga.img_tome_fr }}">
          </div>
          <div flex="29" ng-if="!manga.img_tome_fr && manga.img_tome_jp">
            <img style="height: 400px;" class="img-thumbnail" ng-src="client/medias/tomes/{{ manga.img_tome_jp }}">
          </div>
        <div flex-offset="5" flex style="padding-top: 15px;">
          <div>
            <a href="#/tomes/{{ manga.id_manga }}"><span class="md-headline">{{ manga.title }}</span></a>
          </div>
          <br>
          <div ng-if="manga.genres">
            <p>Genres : {{ manga.genres | prettycomma }}</p>
          </div>
          <div ng-if="manga.nb_tomes">
            <p>Nombre de tome(s) : {{ manga.nb_tomes }}</p>
          </div>
          <div ng-if="manga.public">
            <p>Public : {{ manga.public }}</p>
          </div>
          <div ng-if="manga.editeur_fr">
            <p>Editeur FR : {{ manga.editeur_fr }}</p>
          </div>
          <div ng-if="manga.editeur_jp">
            <p>Editeur JP : {{ manga.editeur_jp }}</p>
          </div>
          <div ng-if="manga.publication_fr">
            <p>Publication FR : {{ manga.publication_fr }}</p>
          </div>
          <div ng-if="manga.publication_jp">
            <p>Publication JP : {{ manga.publication_jp }}</p>
          </div>
          <div ng-if="manga.themes">
            <p>Thèmes : {{ manga.themes | prettycomma }}</p>
          </div>
          <div ng-if="manga.year">
            <p>Année : {{ manga.year }}</p>
          </div>
          <div>
            <a href="#/tomes/{{ manga.id_manga }}">Voir la liste des tomes</a>
          </div>
        </div>
      </div>
        <br>
        <md-card-content>
          <div ng-if="manga.synopsis">
            <p ng-bind-html="manga.synopsis"></p>
          </div>
        </md-card-content>
        <br>
        <md-card-actions layout="row" layout-align="center" ng-show="!isMangaInCollection">
          <md-button class="md-raised md-primary" ng-click="addManga(manga.id_manga)" ng-if="userCookie != undefined">Ajouter à ma collection</md-button>
        </md-card-actions>
        <md-card-actions layout="row" layout-align="center" ng-show="isMangaInCollection">
          <md-button class="md-raised md-primary" ng-click="removeManga(manga.id_manga)" ng-if="userCookie != undefined">Retirer de ma collection</md-button>
        </md-card-actions>
        <span ng-if="manga.img_banniere">
          <img ng-src="client/medias/mangas/{{ manga.img_banniere }}" width="100%">
        </span>
    </div>
    </div>
  </div>
</section>
