<section id="section-profil" ng-controller="ProfileController">
    <div class="inner">
        <s-alert></s-alert>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>

                <md-card-content>
                    <div style="float:left;">
                        <img ng-show="user.img_profil" ng-src="client/medias/profils/{{ user.img_profil }}" width="150px">
                        <img ng-show="!user.img_profil" ng-src="client/medias/default/thumbnail.png" width="150px">

                        <input type="file" ngf-select ng-model="picFile" name="file"
                               accept="image/*" ngf-max-size="2MB" required
                               ngf-model-invalid="errorFile">
                        <i ng-show="myForm.file.$error.required">*required</i><br>
                        <i ng-show="myForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" style="width: 50px;">
                        <button ng-click="picFile = null" ng-show="picFile">Supprimer</button>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                    </div>
                    <div ng-if="user.username" style="margin-left: 200px;">
                        <h1>{{ user.username }}</h1>
                    </div>
                    <div ng-if="user.date_create" style="margin-left: 200px;">
                        <p>Inscrit le : {{ user.date_create }}</p>
                    </div>
                </md-card-content>

                <md-input-container class="md-block" ng-if="userCookie.username == user.username" style="margin-bottom: 0px; padding-bottom: 0px;">
                    <label>Adresse</label>
                    <input ng-model="user.address" ng-change="googlePlaces()" placeholder="Entrez votre adresse" type="text">
                </md-input-container>
                <md-subheader ng-show="addressList.length > 0" class="md-no-sticky">Sélectionnez une adresse parmis les suivantes :</md-subheader>
                <md-list-item ng-click="selectAddress(address.address)" ng-repeat="address in addressList">
                    <p>{{ address.address }}</p>
                </md-list-item>
                <md-button ng-if="userCookie.username == user.username" type="submit" ng-click="updateProfile(user.address, picFile)">Modifier</md-button>

            </md-card>
        </div>

        <div class="row" ng-if="animes.length > 0">
            <h1>Animes</h1>

            <ul>
                <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="anime in animes">
                    <div ng-if="anime.img_affiche" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/animes/{{ anime.img_affiche }}">
                    </div>
                    <ul>
                        <li style="text-align: center;"><a href="#/anime/{{ anime.id_anime }}">{{ anime.title }}</a></li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ anime.progression }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ anime.progression }}%; background-color: #f26522;">
                                <span style="color: #000000;">{{ anime.episodes_progression }}/{{ anime.nb_episodes }}</span>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <br/>

        <div class="row" ng-if="mangas.length > 0">
            <h1>Mangas</h1>

            <ul>
                <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="manga in mangas">
                    <div ng-if="manga.img_tome_fr" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_fr }}" height="200px">
                    </div>
                    <div ng-if="!manga.img_tome_fr && manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_jp }}" height="200px">
                    </div>
                    <div ng-if="!manga.img_tome_fr && !manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
                        <img ng-src="client/medias/default/thumbnail.png" class="img-thumbnail" style="height: 200px !important;">
                    </div>
                    <ul>
                        <li style="text-align: center;"><a href="#/manga/{{ manga.id_manga }}">{{ manga.title }}</a></li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ manga.progression }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ manga.progression }}%; background-color: #f26522;">
                                <span style="color: #000000;">{{ manga.tomes_progression }}/{{ manga.nb_tomes }}</span>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</section>