<section id="section-profil" ng-controller="ProfileController">
    <div class="inner">
        <s-alert></s-alert>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>

                <md-card-content>
                    <div class="row">
                        <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="user.img_profil" ng-src="client/medias/profils/{{ user.img_profil }}" width="150px">
                        <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="!user.img_profil" ng-src="client/medias/default/thumbnail.png" width="150px">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div ng-if="user.username">
                                <h1>{{ user.username }}</h1>
                            </div>
                            <div ng-if="user.date_create">
                                <p>Inscrit le : {{ user.date_create }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="userCookie.username == user.username">
                            <div>
                                <md-tooltip>Veuillez choisir une image au format JPG, JPEG, PNG ou GIF qui soit inférieur à 2Mo.</md-tooltip>
                                <md-icon md-svg-src="client/medias/default/ic_photo_24px.svg" class="name"></md-icon>
                                <input type="file" ngf-select ng-model="picFile" name="file" style="display: inline-block;">
                            </div>
                            <br>
                            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" style="width: 50px;">
                            <button ng-click="picFile = null" ng-show="picFile">Supprimer</button>
                        </div>
                    </div>
                </md-card-content>

                <md-input-container class="md-block" ng-if="userCookie.username == user.username" style="margin-bottom: 0px; padding-bottom: 0px;">
                    <label>Adresse</label>
                    <input ng-model="user.address" ng-change="googlePlaces()" placeholder="Entrez votre adresse" type="text">
                </md-input-container>
                <md-subheader ng-show="addressList.length > 0" class="md-no-sticky">Sélectionnez une adresse parmis les suivantes :</md-subheader>
                <md-list-item ng-click="selectAddress(address.address)" ng-repeat="address in addressList">
                    <p>{{ address.address }}</p>
                </md-list-item>
                <md-button ng-if="userCookie.username == user.username" type="submit" ng-click="updateProfile(user.address, picFile)">Modifier</md-button>

            </md-card>
        </div>


        <div class="row" ng-if="animes.length > 0">
            <h1>
                <a style="cursor: pointer;" ng-click="isCollapsed = !isCollapsed">
                    Animes
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isCollapsed, 'glyphicon glyphicon-chevron-down': !isCollapsed }"></i>
                </a>
            </h1>

            <ul uib-collapse="isCollapsed">
                <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="anime in animes">
                    <div ng-if="anime.img_affiche" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail img-hover" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/animes/{{ anime.img_affiche }}">
                    </div>
                    <ul>
                        <li style="text-align: center;"><a href="#/anime/{{ anime.id_anime }}">{{ anime.title }}</a></li>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ anime.progression }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ anime.progression }}%; background-color: #f26522;">
                                <span style="color: #000000;">{{ anime.episodes_progression }}/{{ anime.nb_episodes }}</span>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <br/>

        <div class="row" ng-if="mangas.length > 0">
            <h1>
                <a style="cursor: pointer;" ng-click="isCollapsed2 = !isCollapsed2">
                    Mangas
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isCollapsed2, 'glyphicon glyphicon-chevron-down': !isCollapsed2 }"></i>
                </a>
            </h1>

            <ul uib-collapse="isCollapsed2">
                <li class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 well well-height" ng-repeat="manga in mangas">
                    <div ng-if="manga.img_tome_fr" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail img-hover" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_fr }}" height="200px">
                    </div>
                    <div ng-if="!manga.img_tome_fr && manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
                        <img class="img-thumbnail img-hover" style="display: block;margin: 0 auto;height: 200px !important;" ng-src="client/medias/tomes/{{ manga.img_tome_jp }}" height="200px">
                    </div>
                    <div ng-if="!manga.img_tome_fr && !manga.img_tome_jp" style="padding-top: 20px;padding-bottom: 20px;">
                        <img ng-src="client/medias/default/thumbnail.png" class="img-thumbnail" style="height: 200px !important;">
                    </div>
                    <ul>
                        <li style="text-align: center;"><a href="#/manga/{{ manga.id_manga }}">{{ manga.title }}</a></li>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ manga.progression }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ manga.progression }}%; background-color: #f26522;">
                                <span style="color: #000000;">{{ manga.tomes_progression }}/{{ manga.nb_tomes }}</span>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</section>