<section id="section-collection" ng-controller="suiviController">
    <s-alert></s-alert>
    <div class="innver">
        <div class="row">
            <div class="col-lg-12 col-md-12 well" ng-if="episodes.length > 0">
                <div class="row">
                    <ul>
                        <li class="col-lg-12 col-md-12" style="text-align: center;">
                            <h1 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">Épisodes à voir</h1>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12 well" ng-style="{'height':maxHeightEpisodes+'px'}" ng-repeat="(key, episode) in episodes" style="padding: 20px; margin: 20px;" id="{{ 'affiche_episode_' + key }}">
                            <div ng-if="episode.img_affiche" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/animes/{{ episode.img_affiche }}">
                            </div>
                            <div ng-if="!episode.img_affiche" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/default/thumbnail.png">
                            </div>
                            <p style="text-align: center;">
                                <a href="#/anime/{{ episode.id_anime }}">{{ episode.anime_title }}</a>
                            </p>
                            <p style="text-align: center; margin-top: 10px;" id="episode_{{ key }}">Épisode {{ episode.number }}{{ episode.title ? ' - '+episode.title : '' }}</p>
                            <p style="margin-top: 40px;">
                                <i class="material-icons" ng-click="addEpisode(episode.id_anime, episode.number, key)" title="Marquer comme vu" style="position: absolute; bottom: 20px; left: 50%; margin-left: calc(-24px / 2); cursor: pointer;">visibility</i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 well" ng-if="tomes.length > 0">
                <div class="row">
                    <ul>
                        <li class="col-lg-12 col-md-12" style="text-align: center;">
                            <h1 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">Tomes à lire</h1>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12 well" ng-style="{'height':maxHeightTomes+'px'}" ng-repeat="(key, tome) in tomes" style="padding: 20px; margin: 20px;"  id="{{ 'affiche_tome_' + key }}">
                            <div ng-if="tome.couverture" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/tomes/{{ tome.couverture }}">
                            </div>
                            <div ng-if="!tome.couverture" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/default/thumbnail.png">
                            </div>
                            <p style="text-align: center;">
                                <a href="#/manga/{{ tome.id_manga }}">{{ tome.manga_title }}</a>
                            </p>
                            <p style="text-align: center; margin-top: 10px;" id="tome_{{ key }}">Tome {{ tome.number }}{{ tome.title ? ' - '+tome.title : '' }}</p>
                            <p style="margin-top: 40px;">
                                <i class="material-icons" ng-click="addTome(tome.id_manga, tome.number, key)" title="Marquer comme lu" style="position: absolute; bottom: 20px; left: 50%; margin-left: calc(-24px / 2); cursor: pointer;">visibility</i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 well" ng-if="animes.length > 0">
                <div class="row">
                    <ul>
                        <li class="col-lg-12 col-md-12" style="text-align: center;">
                            <h1 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">Animes à commencer</h1>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12 well" ng-style="{'height':maxHeightAnimes+'px'}" ng-repeat="(key, anime) in animes" style="padding: 20px; margin: 20px;" id="{{ 'affiche_anime_' + key }}">
                            <div ng-if="anime.img_affiche" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/animes/{{ anime.img_affiche }}">
                            </div>
                            <div ng-if="!anime.img_affiche" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/default/thumbnail.png">
                            </div>
                            <p style="text-align: center;">
                                <a href="#/anime/{{ anime.id_anime }}">{{ anime.title }}</a>
                            </p>
                            <p style="text-align: center; margin-top: 10px;">{{ anime.nb_episodes }}{{ anime.nb_episodes > 1 ? ' épisodes' : ' épisode' }}</p>
                            <p style="text-align: center; margin-top: 10px;" id="anime_{{ key }}">Épisode {{ anime.number }}{{ anime.episode_title ? ' - '+anime.episode_title : '' }}</p>
                            <p style="margin-top: 40px;">
                                <i class="material-icons" ng-click="addAnime(anime.id_anime, anime.number, key)" title="Marquer comme vu" style="position: absolute; bottom: 20px; left: 50%; margin-left: calc(-24px / 2); cursor: pointer;">visibility</i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 well" ng-if="mangas.length > 0">
                <div class="row">
                    <ul>
                        <li class="col-lg-12 col-md-12" style="text-align: center;">
                            <h1 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">Mangas à commencer</h1>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12 well" ng-style="{'height':maxHeightMangas+'px'}" ng-repeat="(key, manga) in mangas" style="padding: 20px; margin: 20px;"  id="{{ 'affiche_manga_' + key }}">
                            <div ng-if="manga.couverture" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/tomes/{{ manga.couverture }}">
                            </div>
                            <div ng-if="!manga.couverture" style="padding-bottom: 20px;">
                                <img class="img-thumbnail img-hover img-center" ng-src="client/medias/default/thumbnail.png">
                            </div>
                            <p style="text-align: center;">
                                <a href="#/manga/{{ manga.id_manga }}">{{ manga.title }}</a>
                            </p>
                            <p style="text-align: center; margin-top: 10px;">{{ manga.nb_tomes }}{{ manga.nb_tomes > 1 ? ' tomes' : ' tome' }}</p>
                            <p style="text-align: center; margin-top: 10px;" id="manga_{{ key }}">Tome {{ manga.number }}{{ manga.title ? ' - '+manga.title : '' }}</p>
                            <p style="margin-top: 40px;">
                                <i class="material-icons" ng-click="addManga(manga.id_manga, manga.number, key)" title="Marquer comme lu" style="position: absolute; bottom: 20px; left: 50%; margin-left: calc(-24px / 2); cursor: pointer;">visibility</i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
