<section id="section-manga" ng-controller="usersTomeController">
    <s-alert></s-alert>
    <div class="inner">

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="user in users">

                <md-card-content>
                    <div class="row">
                        <a href="#/profil/{{ user.username }}" class="col-lg-4 col-md-4">
                            <div ng-if="user.img_profil">
                                <img ng-src="client/medias/profils/{{ user.img_profil }}" width="100%">
                            </div>
                            <div ng-if="!user.img_profil">
                                <img ng-src="client/medias/default/thumbnail.png" width="100%">
                            </div>
                            <div ng-if="user.username">
                                <p style="text-align: center;">{{ user.username }}</p>
                            </div>
                        </a>
                        <div class="col-lg-8 col-md-8">
                            {{ user.username }} se trouve à environ {{ user.distance }} km de vous !
                            <br>
                            Envoyez-lui dès maintenant une proposition d'achat ou d'échange pour son tome numéro {{ number }} de {{ title }}.
                        </div>
                    </div>
                </md-card-content>

            </md-card>
        </div>

    </div>
</section>
