#section-home {

  // .inner { padding: 75px 10px; }
  .presentation-globale {
    text-align: center;

    p { text-align: justify; }
    .cta-commencer { margin-top: 20px; }
  }

}

#section-fonctionnalites {

  .title { margin-bottom: 40px; }
  .presentation-fonctionnalites {
    li {
      display: inline-block; vertical-align: top; width: calc(50vw - 10px); text-align: center;
      @include bp(1024) { width: 25%; }

      &.last {
        margin-top: 20px;
        @include bp(1024) { margin-top: 0; }
      }
      &:last-child { margin-right: 0; }
    }

    .icons { margin-bottom: 10px; }
    p {
      padding: 0 5px;
      @include bp(375) { padding: 0 15px; }
      @include bp(414) { padding: 0 25px; }
    }

    // FA
    .fa-book, .fa-user { @include fs(16); }
    .fa-map-marker { @include fs(18); }
    .fa-mobile { @include fs(21); }
  }

}

#section-contact {

  .form-el {
    width: 100%; margin-top: 10px; text-align: center;

    &:first-child { margin-top: 0; }
  }
  input[type="text"], input[type="email"], textarea {
    border: 1px solid $black; color: $black; outline: none; @include appearance(none); padding: 10px 12px; width: 100%; font-family: 'Open Sans', sans-serif; @include fs(14);
  }
  textarea { resize: vertical; }
}
